---
import { getCollection } from 'astro:content'
import BlogCard from '../../components/BlogCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageLayout from '../../components/PageLayout.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout
	title="Blog | Greg Barbosa"
	description="Thoughts on software engineering, leadership, AI, and creative technology."
>
	<PageLayout title="Blog" contentPadding="py-2">
		<ul class="posts-grid-container">
			{
				posts.map((post) => (
					<li>
						<BlogCard post={post} />
					</li>
				))
			}
		</ul>
	</PageLayout>
</BaseLayout>
