---
import HomeLayout from '../layouts/HomeLayout.astro'
import { Image } from 'astro:assets'
import heroImage from '../assets/images/gregbarbosa.jpg'
import { SITE_DESCRIPTION } from '../consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import GridSection from '../components/GridSection.astro'
import { getCollection } from 'astro:content'
import { Button } from '@/components/starwind/button'
import SocialLinks from '../components/SocialLinks.astro'
import {
	Tooltip,
	TooltipTrigger,
	TooltipContent,
} from '@/components/starwind/tooltip'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<HomeLayout
	title="Greg Barbosa | Technically Creative"
	description="Director of Innovation & Systems at Avulux. Building fast websites, capturing street photography, and sharing creative experiments."
>
	<div slot="hero" class="app-container md:py-15 md:pt-25">
		<div class="flex flex-col lg:flex-row gap-4 items-center justify-center">
			<div class="w-full lg:w-2/4 order-2 lg:order-1">
				<div>
					<h1
						class="text-xl md:text-6xl font-bold leading-none italic uppercase"
					>
						{SITE_DESCRIPTION}
						<Tooltip>
							<TooltipTrigger>
								<Button variant="ghost" class="text-xl md:text-6xl font-bold"
									>*</Button
								>
							</TooltipTrigger>
							<TooltipContent class="lowercase">Hello!</TooltipContent>
						</Tooltip>
					</h1>
					<p class="text-xl mt-5">
						I build things, photograph things, and share both here.
					</p>
				</div>
				<div class="flex gap-8 md:gap-4 pt-5">
					<SocialLinks iconClass="text-4xl" />
				</div>
			</div>
			<div class="w-full lg:w-4/4 order-1 lg:order-2">
				<Image
					src={heroImage}
					alt="Greg Barbosa"
					class="w-full h-auto"
					style="clip-path: url(#hero-mask); -webkit-clip-path: url(#hero-mask);"
					loading="eager"
					fetchpriority="high"
				/>
			</div>
		</div>
	</div>

	<div slot="content">
		<section class="app-container py-2 mb-12">
			<h2 class="section-title">Latest Posts</h2>
			<GridSection
				columns={{ base: 2, sm: 2, md: 3, lg: 3, xl: 3 }}
				class="my-6"
			>
				{posts.map((post) => <BlogCard post={post} />)}
			</GridSection>
			<Button variant="ghost" href="/blog" size="md"
				>Read All
				<Icon size={20} name="mdi:arrow-right" />
			</Button>
		</section>
	</div>
</HomeLayout>
