---
import { WebsiteLinks, SITE_BASE } from '../consts'
import LogoSVG from '../assets/logo.svg'
import { Separator } from '@/components/starwind/separator'
import { Button } from '@/components/starwind/button'
import { ButtonGroup } from '@/components/starwind/button-group'
import { Input } from '@/components/starwind/input'
import SocialLinks from '../components/SocialLinks.astro'

const today = new Date()
---

<footer id="footer">
	<!-- Me -->
	<div class="app-container grid md:grid-cols-3 gap-12 py-16">
		<Separator orientation="horizontal" class="mb-8 md:hidden" />
		<div>
			<a href={`${SITE_BASE}/`} class="block w-fit" aria-label="Home">
				<LogoSVG height={54} width={54} />
			</a>
			<div class="gap-4 mt-4">
				<ButtonGroup>
					<Input placeholder="enter your email" />
					<Button variant="outline" aria-label="Enter your email address">
						Subscribe
					</Button>
				</ButtonGroup>
			</div>
		</div>

		<!-- Links -->
		<div>
			<h3 class="font-semibold text-2xl">Links</h3>
			<div class="flex flex-wrap gap-4 mt-4">
				{
					WebsiteLinks.filter((link) => link.name !== 'Home').map((link) => (
						<a
							class="text-lg"
							href={link.url}
							target="_blank"
							rel="noopener noreferrer"
						>
							{link.name}
						</a>
					))
				}
				<p class="text-left md:text-left w-full">
					&copy; {today.getFullYear()} Source code available at <a
						class="underline"
						href="https://github.com/gregbarbosa/gregbarbosa.com"
						target="_blank">GitHub</a
					>
				</p>
			</div>
		</div>

		<!-- Socials -->
		<div>
			<h3 class="font-semibold text-2xl">Socials</h3>
			<div class="flex flex-wrap gap-4 mt-4">
				<SocialLinks iconClass="text-3xl" />
			</div>
		</div>
	</div>
</footer>
