---
import { Icon } from 'astro-icon/components'
import { ButtonGroup } from '@/components/starwind/button-group'
import { Button } from '@/components/starwind/button'
const { class: className } = Astro.props
---

<ButtonGroup orientation="horizontal" class:list={[className, 'md:opacity-80']}>
	<Button
		variant="ghost"
		size="icon"
		data-theme="theme-auto"
		aria-label="Auto Theme"
		title="Set theme to follow system preference"
		class="theme-button theme-auto rounded-full"
	>
		<Icon
			name="mdi:brightness-auto"
			class:list="text-2xl md:text-xl"
			aria-hidden
		/>
	</Button>
	<Button
		variant="ghost"
		size="icon"
		data-theme="theme-light"
		aria-label="Light Theme"
		title="Set theme to light"
		class="theme-button theme-light rounded-full"
	>
		<Icon
			name="mdi:white-balance-sunny"
			class:list="text-2xl md:text-xl"
			aria-hidden
		/>
	</Button>
	<Button
		variant="ghost"
		size="icon"
		data-theme="theme-dark"
		aria-label="Dark Theme"
		title="Set theme to dark"
		class="theme-button theme-dark rounded-full"
	>
		<Icon
			name="mdi:moon-and-stars"
			class:list="text-2xl md:text-xl"
			aria-hidden
		/>
	</Button>
</ButtonGroup>
