---
import { getCollection } from 'astro:content'
import ProjectCard from '../../components/ProjectCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageLayout from '../../components/PageLayout.astro'

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout
	title="Projects | Greg Barbosa"
	description="A collection of apps, tools, and code experiments I've built."
>
	<PageLayout
		title="Projects"
		description="Here are some of the projects I've worked on."
	>
		<ul class="posts-grid-container">
			{
				projects.map((project) => (
					<li>
						<ProjectCard project={project} />
					</li>
				))
			}
		</ul>
	</PageLayout>
</BaseLayout>
