---
import { getCollection } from 'astro:content'
import ProjectCard from '../../components/ProjectCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageLayout from '../../components/PageLayout.astro'

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout
	title="Projects | Greg Barbosa"
	description="Things I've made. Some more money, most for not."
>
	<PageLayout
		title="Projects"
		description="Things I've made, open-source code included."
	>
		<ul class="grid my-6 gap-6 grid-cols-2 md:grid-cols-4 xl:grid-cols-4">
			{
				projects.map((project) => (
					<li>
						<ProjectCard project={project} />
					</li>
				))
			}
		</ul>
	</PageLayout>
</BaseLayout>
