---
import { getCollection } from 'astro:content'
import BookCard from '../../components/BookCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import PageLayout from '../../components/PageLayout.astro'

const reviews = await getCollection('reading-list')
---

<BaseLayout
	title="Reading List | Greg Barbosa"
	description="A curated collection of books I've read, recommend, and love."
>
	<PageLayout
		title="Reading List"
		description="Micro-reviews from my bookshelf."
	>
		<ul class="grid my-6 gap-6 grid-cols-2 md:grid-cols-4 xl:grid-cols-4">
			{
				reviews.map((review) => (
					<li>
						<BookCard review={review} />
					</li>
				))
			}
		</ul>
	</PageLayout>
</BaseLayout>
